:root {
  /*custom theme colors*/
  --sections: #ffffff;
  --small-card: #ffffff;
  --heading: #000000;
  --footer: #f0fdf2;
  --paragraph: #0a0a0a;
  /*custom theme colors*/
  --background: #f0fdf2;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #0cc8a8;
  --primary-foreground: #fafafa;
  --secondary: #f5f5f5;
  --secondary-foreground: #171717;
  --muted: #e5e5e5;
  --muted-foreground: #737373;
  --accent: #e5e5e5;
  --accent-foreground: #171717;
  --destructive: #e7000b;
  --destructive-foreground: #ffffff;
  --border: #e5e5e5;
  --input: #e5e5e5;
  --ring: #a1a1a1;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #fafafa;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #171717;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f5f5f5;
  --sidebar-accent-foreground: #171717;
  --sidebar-border: #e5e5e5;
  --sidebar-ring: #a1a1a1;
  --font-sans: OpenSans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: -12.5px;
  --shadow-opacity: 0.05;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-2xs: 0 1px 3px -12.5px rgba(0, 0, 0, 0.03);
  --shadow-xs: 0 1px 3px -12.5px rgba(0, 0, 0, 0.03);
  --shadow-sm:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 1px 2px -13.5px rgba(0, 0, 0, 0.05);
  --shadow:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 1px 2px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-md:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 2px 4px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-lg:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 4px 6px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-xl:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05),
    0 8px 10px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-2xl: 0 1px 3px -12.5px rgba(0, 0, 0, 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  /* Homepage gradient background */
  --homepage-base-dark: #14181e;
  --homepage-teal-transition: #0b3134;
  --homepage-teal-bright: #214545;
  --homepage-orange-soft: #c2804d;
  --homepage-orange-bright: #ec843f;
  --homepage-red-accent: #c32d1f;
  --homepage-dark-shadow: #110a11;
  --homepage-dark-pulse: #170d15;
  --homepage-red-deep: #76141d;
}

.dark {
  /*custom theme colors*/
  --sections: #262626;
  --small-card: #181818;
  --heading: #777777;
  --footer: #0a0a0a;
  --paragraph: #777777;
  /*custom theme colors*/
  --background: #0a0a0a;
  --foreground: #777777;
  --card: #171717;
  --card-foreground: #777777;
  --popover: #262626;
  --popover-foreground: #777777;
  --primary: #0cc8a8;
  --primary-foreground: #fafafa;
  --secondary: #262626;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --accent: #404040;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --destructive-foreground: #fafafa;
  --border: #282828;
  --input: #343434;
  --ring: #737373;
  --chart-1: #91c5ff;
  --chart-2: #3a81f6;
  --chart-3: #2563ef;
  --chart-4: #1a4eda;
  --chart-5: #1f3fad;
  --sidebar: #171717;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #262626;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #282828;
  --sidebar-ring: #525252;
  --font-sans: OpenSans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: -12.5px;
  --shadow-opacity: 0.05;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-2xs: 0 1px 3px -12.5px rgba(0, 0, 0, 0.03);
  --shadow-xs: 0 1px 3px -12.5px rgba(0, 0, 0, 0.03);
  --shadow-sm:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 1px 2px -13.5px rgba(0, 0, 0, 0.05);
  --shadow:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 1px 2px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-md:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 2px 4px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-lg:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05), 0 4px 6px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-xl:
    0 1px 3px -12.5px rgba(0, 0, 0, 0.05),
    0 8px 10px -13.5px rgba(0, 0, 0, 0.05);
  --shadow-2xl: 0 1px 3px -12.5px rgba(0, 0, 0, 0.13);
}
